Git.Storage.Rose.Server/Configs/Data/DbCommandFiles.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" id="DbCommandFiles">
	<xs:complexType name="CommandFilesType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="file">
				<xs:complexType>
					<xs:attribute name="name" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="dataCommandFiles" type="CommandFilesType"/>
</xs:schema>
